:root {
    color-scheme: light dark;
}

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

img {
    margin: 1em;
}